<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="signup.css">

    <title>Sign Up Page</title>
    <link rel="icon" type="image/png" href="musicrecco.png"/>
</head>
<body>
    <div class="login_container">
        <div class="header">
            <h1>Sign up for Musicrecco</h1>
        </div>
        <form action="/signup" method="post">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" required>

            <label for="Favourite_Genres">Top 3 Favorite Genres:</label>
            <div class="genre-bubbles">
                <input type="checkbox" id="classical" name="Favourite_Genres[]" value="classical">
                <label for="classical">Classical</label>
                
                <input type="checkbox" id="country" name="Favourite_Genres[]" value="country">
                <label for="country">Country</label>
                
                <input type="checkbox" id="electronic" name="Favourite_Genres[]" value="electronic">
                <label for="electronic">Electronic</label>
                
                <input type="checkbox" id="folk" name="Favourite_Genres[]" value="folk">
                <label for="folk">Folk</label>
                
                <input type="checkbox" id="hip-hop" name="Favourite_Genres[]" value="hip-hop">
                <label for="hip-hop">Hip Hop</label>
                
                <input type="checkbox" id="jazz" name="Favourite_Genres[]" value="jazz">
                <label for="jazz">Jazz</label>
                
                <input type="checkbox" id="k-pop" name="Favourite_Genres[]" value="k-pop">
                <label for="k-pop">K-Pop</label>
                
                <input type="checkbox" id="metal" name="Favourite_Genres[]" value="metal">
                <label for="metal">Metal</label>
                
                <input type="checkbox" id="pop" name="Favourite_Genres[]" value="pop">
                <label for="pop">Pop</label>
                
                <input type="checkbox" id="r&b" name="Favourite_Genres[]" value="r&b">
                <label for="r&b">R&B</label>
                
                <input type="checkbox" id="rap" name="Favourite_Genres[]" value="rap">
                <label for="rap">Rap</label>
                
                <input type="checkbox" id="rock" name="Favourite_Genres[]" value="rock">
                <label for="rock">Rock</label>
                
                <input type="checkbox" id="soul" name="Favourite_Genres[]" value="soul">
                <label for="soul">Soul</label>
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
