*{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100vh;
  background-color: #fde6b6;
}

.chat{
  display: flex;
  gap: 20px;
  padding: 25px;
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  align-items: center; /* Center-align items vertically */
  margin-bottom: 10px; /* Add some space between chat bubbles */
}

.chat img{
  width: 65px;
  height: 65px;
}

.response{
  background-color: #ffc954d2;
  align-items: center; /* Center-align items vertically */
}

.messagebar{
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4b686;
}

.messagebar .bar-wrapper{
  background-color: #cdcdcd;
  border-radius: 5px;
  width: 60vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-wrapper input{
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  background: none;
  color: #000000;
}

.bar-wrapper input::placeholder{
  color: #000000;
}

.messagebar button{
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.message-box{
  height: calc(100vh - 5rem);
  overflow-y: auto;
}

.response-text {
  white-space: pre-line; /* or pre-wrap */
}

