* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: ##FFFFF;
  margin: 0; /* Remove default body margin */
}

.chat {
  display: flex;
  gap: 20px;
  padding: 25px;
  color: #000000;
  font-size: 15px;
  font-weight: 300;
  align-items: center; /* Center-align items vertically */
  margin-bottom: 10px; /* Add some space between chat bubbles */
  margin-left: 160px;
}

.chat img {
  width: 65px;
  height: 65px;
}

.response {
  background-color: #fde6b6;
  align-items: center; /* Center-align items vertically */
}

.suggestion-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center; /* Optional: Center the grid horizontally */
  margin-bottom: 20px; /* Increase the bottom margin */
  margin-top: -100px; /* Move the grid upwards */
  margin-left: 160px;
}

.suggestion-box {
  background-color: #fde6b6;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.messagebar {
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fecca3;
}

.messagebar .bar-wrapper {
  background-color: #cdcdcd;
  border-radius: 5px;
  width: 60vw;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar-wrapper input {
  width: 100%;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 14px;
  background: none;
  color: #000000;
}

.bar-wrapper input::placeholder {
  color: #000000;
}

.messagebar button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.message-box {
  height: calc(100vh - 5rem);
  overflow-y: auto;
}

.response-text {
  white-space: pre-line; /* or pre-wrap */
}

.spinner {
  display: none; /* Initially hide the spinner */
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  animation: spin 1s infinite linear; /* Apply rotation animation */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px; /* Adjust according to spinner size */
  margin-left: -20px; /* Adjust according to spinner size */
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.hist-button {
  
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #000000;
  border-color: #000000;
  :hover {
      color: #fff;
      background-color: #000000;
      border-color: #000000;
  }
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#c8c8c8;;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar-button {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #383838;
  background-color: transparent;
  border: none; 
  cursor: pointer;
  display: block;
}

.sidebar-button:hover {
  color: #000000;
}

.sidebar-button:focus {
  outline: none; 
}
