.main-container {
  margin-left: 250px;
  padding: 20px;
  padding-left: 0; 
}

.main-container header {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.recommendations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.recommendation {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.recommendation img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.recommendation h2 {
  font-size: 1.2em;
  color: #333;
}