<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/chatbot.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>Chatbot Page</title>
    <link rel="icon" type="image/png" href="../static/musicrecco.png"/>
</head>
<body>
  <div class="chatbox-wrapper">
    <!-- Add the loading spinner here -->
    <div id="loadingSpinner" class="spinner"></div>
    <div id="messageBox" class="message-box">
      <div class="chat response">
        <img src="../static/musicrecco_chatbotprofile.png">
        <span>Hello there, I am MusicRecco! <br> Ask me all you want about music recommendations!</span>
        <a href = '/recommended'>
          <button class = 'hist-button'>Recommended History</button>
        </a>
      </div>
    </div>

    <div class="suggestion-grid">
      <div class="suggestion-box">What are the top trending songs right now?</div>
      <div class="suggestion-box">Can you recommend some upbeat pop songs for a workout playlist?</div>
      <div class="suggestion-box">Recommend me songs based on my favourite genres!</div>
      <div class="suggestion-box">Surprise me!</div>
    </div>

    <div class="messagebar">
      <div class="bar-wrapper">
        <input type="text" id="userMessage" placeholder="Enter your message...">
        <button id="sendMessageBtn">
          <span class="material-icons">send</span>
        </button>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/chatbot script.js"></script>
</html>
