<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../templates/chatbot.css">

    <title>Chatbot Page</title>
    <link rel="icon" type="image/png" href="../static/musicrecco.png"/>
</head>
<body>
    <div class="chat-container"></div>

    <div class="typing-container">
        <div class="typing-content">
          <div class="typing-textarea">
            <textarea id="chat-input" spellcheck="false" placeholder="Enter a prompt here" required></textarea>
            <span id="send-btn" class="material-symbols-rounded">Send  </span>
          </div>
        </div>
    </div>
</body>
</html>