<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="../static/css/sidebar.css">
  <link rel="stylesheet" href="../static/css/dashboard.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <title>Dashboard Page</title>
  <link rel="icon" type="image/png" href="../static/musicrecco.png"/>
</head>
<body>
    <div class="sidebar">
        <header>
            <img src="../static/musicrecco_no_name.png">
            <h1>Musicrecco</h1>
        </header>
        <ul>
            <li><a href="#" onclick="redirectTo('dashboard')"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#" onclick="redirectTo('chatbot')"><i class="fas fa-comments"></i>Chatbot</a></li>
            <li><a href="#" onclick="redirectTo('recommended')"><i class="fas fa-history"></i>History</a></li>        
        </ul>
        <div class="bottom-container">
            <ul>
                <li><a href="#" onclick="redirectTo('settings')"><i class="fas fa-cog"></i>Settings</a></li>
                <li><a href="#" onclick="redirectTo('logout')"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
    </div>     
    
    <div class="main-container">
        <header>Welcome! Here are your recommendations for the day!</header>
        <div class="recommendations">
            {% for recommendation in track_info_list %}
            <div class="recommendation">
                <a href="{{ recommendation.track_id }}" target="_blank">
                    <img src="{{ recommendation.image_url }}" alt="{{ recommendation.track_name }}">
                    <h2>{{ recommendation.track_name }}</h2>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
        
</body>
<script src="../static/script/sidebar script.js"></script>
</html>
