<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="../static/css/sidebar.css">
  <link rel="stylesheet" href="../static/css/home.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <header>
            <img src="../static/musicrecco_no_name.png">
            <h1>Musicrecco</h1>
        </header>
        <ul>
            <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-comments"></i>Chatbot</a></li>
            <li><a href="#"><i class="fas fa-history"></i>History</a></li>        
        </ul>
        <div class="bottom-container">
            <ul>
                <li><a href="#"><i class="fas fa-cog"></i>Settings</a></li>
                <li><a href="#"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
    </div>
    
    <div class="main-container">
        <header>Welcome <span id="username">...</span></header>
        <div class="recommendations">
            <div class="recommendation">
                <img src="album_link_1.jpg" alt="Album 1">
                <h2>Album Title 1</h2>
            </div>
            <div class="recommendation">
                <img src="album_link_2.jpg" alt="Album 2">
                <h2>Album Title 2</h2>
            </div>
            <div class="recommendation">
                <img src="album_link_3.jpg" alt="Album 3">
                <h2>Album Title 3</h2>
            </div>
        </div>
    </div>
</body>
</html>
