<!DOCTYPE html>
<html>
<head>
    <title>Recommended History</title>
    <link rel="stylesheet" type="text/css" href="../static/css/reccommendation.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sidebar.css">

    <title>History Page</title>
    <link rel="icon" type="image/png" href="../static/musicrecco.png"/>
</head>
<body>
    <div class="sidebar">
        <header>
            <img src="../static/musicrecco_no_name.png">
            <h1>Musicrecco</h1>
        </header>
        <ul>
            <li><a href="#" onclick="redirectTo('dashboard')"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#" onclick="redirectTo('chatbot')"><i class="fas fa-comments"></i>Chatbot</a></li>
            <li><a href="#" onclick="redirectTo('recommended')"><i class="fas fa-history"></i>History</a></li>        
        </ul>
        <div class="bottom-container">
            <ul>
                <li><a href="#" onclick="redirectTo('settings')"><i class="fas fa-cog"></i>Settings</a></li>
                <li><a href="#" onclick="redirectTo('logout')"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
    </div>    

    
    <div class="main-container">
        <h2>Recommended Songs</h2>
        <table>
            <thead>
                <tr>
                    <th>Song Name</th>
                </tr>
            </thead>
            <tbody>
                {% for recommendation in recommendations %}
                <tr>
                    <td><a href="{{ recommendation.web }}">{{ recommendation.song }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</body>
<script src="../static/script/sidebar script.js"></script>
</html>